* {
    color: darkslategray;
    font-family: 'Fauna One', serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Player sides */
.player-sides {
    align-items: center;
    background-image: linear-gradient(
  0deg,
  hsl(103deg 30% 68%) 0%,
  hsl(103deg 28% 66%) 6%,
  hsl(102deg 27% 64%) 12%,
  hsl(102deg 26% 62%) 18%,
  hsl(102deg 25% 60%) 24%,
  hsl(102deg 23% 58%) 29%,
  hsl(102deg 23% 56%) 35%,
  hsl(102deg 22% 54%) 41%,
  hsl(102deg 21% 52%) 47%,
  hsl(102deg 20% 50%) 53%,
  hsl(102deg 21% 48%) 59%,
  hsl(103deg 22% 46%) 65%,
  hsl(103deg 23% 44%) 71%,
  hsl(103deg 24% 42%) 76%,
  hsl(103deg 25% 40%) 82%,
  hsl(103deg 27% 38%) 88%,
  hsl(103deg 28% 36%) 94%,
  hsl(103deg 30% 34%) 100%
);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100vh;
    width: 25%;
}

h1,
h2 {
    margin-top: 30px;
}

/* Main board */
.board {
    align-items: center;
    background-color: #FCFBED;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    width: 70%;
}

.board-grid {
    background-color: #CCAD00;
    display: grid;
    gap: 3px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    height: 60vh;
    width: 70%;
}

.boxes {
    align-items: center;
    background-color: #FCFBED;
    display: flex;
    font-size: 40px;
    height: 100%;
    justify-content: center;
    width: 100%;
}